<div class="rounded-lg border border-black dark:border-white/35 bg-white dark:bg-dark-gray overflow-hidden flex flex-col w-full mx-auto">
  <%= tag.div class: ["relative w-full h-56 flex items-center justify-center", bg_color] do %>
    <%= image_tag image_url, alt: name, class: "w-full h-full object-cover" %>
  <% end %>
  <div class="flex-1 flex flex-col justify-between p-8 border-t border-black dark:border-white/35">
    <div>
      <div class="text-2xl font-medium mb-4"><%= name %></div>
      <div class="flex flex-wrap gap-3 mb-6">
        <% Array(tags).each do |tag| %>
          <span class="px-4 py-2 border border-black dark:border-white/35 rounded-full text-base"><%= tag %></span>
        <% end %>
      </div>
    </div>
    <div class="flex gap-4 mt-auto">
      <% if twitter_url.present? %>
        <%= link_to twitter_url, target: "_blank", rel: "noopener", class: "hover:opacity-80", aria: { label: "X profile" } do %>
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="w-6 h-6"><path d="M13.68 10.62 20.24 3h-1.55L13 9.62 8.45 3H3.19l6.88 10.01L3.19 21h1.55l6.01-6.99 4.8 6.99h5.24l-7.13-10.38Zm-2.13 2.47-.7-1-5.54-7.93H7.7l4.47 6.4.7 1 5.82 8.32H16.3z"/></svg>
        <% end %>
      <% end %>
      <% if linkedin_url.present? %>
        <%= link_to linkedin_url, target: "_blank", rel: "noopener", class: "hover:opacity-80", aria: { label: "LinkedIn profile" } do %>
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="w-6 h-6"><path d="M4.983 2.821a2.188 2.188 0 1 0 0 4.376 2.188 2.188 0 1 0 0-4.376M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66zm-6.142 0H6.87v12.139H3.095z"/></svg>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
